body{
    font-family: "Poppins", serif !important;

}
.offcanvas-body ul li a{
    color: 
    #29293d;
    font-weight: 500;
    text-transform: capitalize;
}
.top-container{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.799);
}
#ul-tag li a{
   transition:  0.1s linear 0.1s;
}
#ul-tag li a:hover{
    transform: scale(1.2);
    margin:0px 5px;

}
.about-card:hover{
    transform: scale(1.1);
}
.about-card{
    transition:  0.1s linear 0.1s;
}
.small-card{
    transition: all 0.1s ease-in-out 0.1s;
}
.small-card:hover{
    transform: scale(1.1);
    margin: 0px 10px;
}